<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <form method="POST" action="/register">
        <label>Имя пользователя:</label><br>
        <input type="text" name="username"><br><br>

        <label>Пароль:</label><br>
        <input type="password" name="password"><br><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
    {{if .Error}}
        <p style="color:red;">{{.Error}}</p>
    {{end}}
</body>
</html>
